@import 'tailwindcss';


@custom-variant dark (&:where(.dark, .dark *));

@layer components{
    .styled-table {
       width: 100%;
       border-collapse: collapse;
       font-size: 14px;
       /* text-align: left; */
       font-size: 9px;
       
     }
     
     .styled-table th, .styled-table td {
       padding: 5px;
       border: 1px solid #1e1e1e;
       text-align: left;
       
       
     }
    
     .styled-table thead {
       background-color: #121212;
       color: rgb(252, 252, 252);
       
       
     }


  
     
     .styled-table tbody tr:nth-child(even) {
       background-color: #1b2733;
       color: white;
     }
     .styled-table tbody tr:nth-child(odd) {
      background-color: #1a2129;
      color: white;
    }
    ::-webkit-scrollbar{
      background-color: rgb(40, 40, 40);
      width: 5px;
       
    } 
    ::-webkit-scrollbar-thumb{
      background-color: rgb(56, 55, 55);
      width: 0;
    }


 
  }
