@import 'tailwindcss';

@layer components{
    .styled-table {
       width: 100%;
       border-collapse: collapse;
       font-size: 14px;
       text-align: left;
       
     }
     
     .styled-table th, .styled-table td {
       padding: 5px;
       border: 1px solid #000000;
       text-align: left;
       border-radius: 4px;
     }
    
     .styled-table thead {
       background-color: #313131;
       color: rgb(252, 252, 252);
       border-radius: 5px;
     }
     
     .styled-table tbody tr:nth-child(even) {
       background-color: #1b2733;
       color: white;
     }
     .styled-table tbody tr:nth-child(odd) {
      background-color: #1a2129;
      color: white;
    }
    ::-webkit-scrollbar{
      background-color: rgb(40, 40, 40);
      width: 5px;
       
    } 
    ::-webkit-scrollbar-thumb{
      background-color: white;
    }


  }
